[submodule "deps/sdsl-lite"]
	path = bdsg/deps/sdsl-lite
	url = https://github.com/vgteam/sdsl-lite.git
[submodule "deps/DYNAMIC"]
	path = bdsg/deps/DYNAMIC
	url = https://github.com/vgteam/DYNAMIC.git
[submodule "deps/hopscotch-map"]
	path = bdsg/deps/hopscotch-map
	url = https://github.com/Tessil/hopscotch-map.git
[submodule "deps/libhandlegraph"]
	path = bdsg/deps/libhandlegraph
	url = https://github.com/vgteam/libhandlegraph.git
[submodule "deps/BBHash"]
	path = bdsg/deps/BBHash
	url = https://github.com/vgteam/BBHash.git
[submodule "deps/sparsepp"]
	path = bdsg/deps/sparsepp
	url = https://github.com/greg7mdp/sparsepp.git
[submodule "deps/pybind11"]
	path = bdsg/deps/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "bdsg/deps/mio"]
	path = bdsg/deps/mio
	url = https://github.com/mandreyel/mio.git
	branch = master
